.main{
    display: flex;
}
.list{
    margin-top: 16px;
    box-sizing: border-box;
    height:85vh;
    width: 410px;
    background-color:#ffffff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-left: 16px;
    gap:10px;
    padding-top: 10px;

}
.list::-webkit-scrollbar{
    width: 0;
}

.holder{
    display: flex;
    align-items: flex-start;
    width: 380px;
    gap:14px;
    border: 2px solid #cfd2dc;
    border-radius: 12px;
    padding: 10px;
    color: #636363;
}

.firstletter{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #e54065;
    height: 50px;
    width: 50px;
    color: #ffffff;
    font-size: 28px;
}
.content{
    display: flex;
    flex-direction: column;
}

.from{
    margin-bottom: 8px;
}

#email{
    color: #636363;
    font-weight: 700;
}

#sub{
    color: #636363;
    font-weight: 700;
}

.short{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    margin-top: 12px;
}

.date{
    margin-top: 12px;
    font-size: 14px;
}

.fullemail{
    margin-top: 26px;
    margin-left: 16px;
    overflow-y: auto;
    max-height: 100vh;
}